<!-- wp:template-part {"slug":"header","theme":"lmscourse-fse","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"},"blockGap":"0","margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">
    <!-- wp:pattern {"slug":"lmscourse-fse/layout/hero-2"} /-->
    <!-- wp:pattern {"slug":"lmscourse-fse/layout/testimonials-3"} /-->
    <!-- wp:pattern {"slug":"lmscourse-fse/layout/content-9"} /-->
    <!-- wp:pattern {"slug":"lmscourse-fse/layout/content-6"} /-->
    <!-- wp:pattern {"slug":"lmscourse-fse/layout/stats-2"} /-->
    <!-- wp:pattern {"slug":"lmscourse-fse/layout/features-2"} /-->
    <!-- wp:pattern {"slug":"lmscourse-fse/layout/content-8"} /-->
    <!-- wp:pattern {"slug":"lmscourse-fse/layout/pricing-2"} /-->
    <!-- wp:pattern {"slug":"lmscourse-fse/layout/faqs-1"} /-->
    <!-- wp:pattern {"slug":"lmscourse-fse/layout/cta-3"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"lmscourse-fse","tagName":"footer"} /-->
